/*-----------------------------MAIN-------------------------------*/
body {
  font-family: "Oxygen", sans-serif;
}
.container {
  min-width: 100%;
  width: 100%;
  height: 100%;
  padding: 3rem 0;
}
.wrapper {
  width: 50%;
  padding: 0 3rem;
  margin: 0 auto;
}
.field_wrapper {
  margin: 3rem 0 0 0;
}
.field {
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  padding: 0.5rem;
}
.numberWords {
  width: 96.5%;
  border: 1px solid #a5a5a5;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0.5rem;
}
.numberWords:focus {
  outline: none;
  border-color: rgb(255, 174, 0);
}
.field_wrapper .placeholder_red {
  border: 1px solid red;
  color: red;
}
.field_wrapper .placeholder_red::placeholder {
  color: red;
  font-weight: bold;
  opacity: 1;
}
.btn {
  padding: 0.55rem 1.5rem;
  cursor: pointer;
}
.blue {
  background-color: rgb(28, 132, 218);
  color: white;
  border: 1px solid #a5a5a5;
  border-radius: 5px;
  margin-top: 0.1 rem;
}
.blue:hover {
  background-color: white;
  color: rgb(28, 132, 218);
}
.flex_end {
  display: flex;
  justify-content: end;
}
